* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    z-index: 1;
}

body{
    background-color: white;
    width: auto;
    height: auto;
}

header{
    background-image: url("images/background-vector.svg");
    background-size: cover;
    background-position: bottom;
    height: calc(100vh - 7.5vh);
    margin-top: 7.5vh;
}

header, footer, nav, main {
    width: 100%;
}

.banner-text {
    color: #F8F4F1;
    position: relative;
    z-index: 10;
    transform: translate(0, 30vh);
}

.welcome{
    font-style: normal;
    font-weight: 800;
    font-size: 90px;
    line-height: 99%;
    margin-bottom: 30px;
}

.introduction{
    font-style: normal;
    font-size: 30px;
    line-height: 148%;
    width: 80%;
}

.banner-vector{
    position: absolute;
    z-index: 0;
}

.banner-picture{
    height: 100%
}

.banner-content{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.fa-chevron-down {
    position: absolute;
    bottom: 5%;
    left: calc(50% - 20px);
    color: white;
    font-size: 45px;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 7.5vh;
    background-color: #4A4E69;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 7.5vh;
    z-index: 100000;
    background-color: white;
    text-align: center;
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav ul li, footer div a{
    margin: 0 15px;
}

footer div a:last-child, nav ul li:last-child {
    margin-right: 0;
}

.inner-padding {
    padding: 0 10vw;
}

main {
    height: 100%
}

a {
   cursor: pointer;
}

.logo {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #4A4E69;
    text-decoration: none;
}

nav ul li{
    color: #4A4E69;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.skills-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F2F2F2;
    height: calc(100vh - 7.5vh);
}

.skills-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 400px;
    margin: 100px 30px;
    background-color: white;
    border-radius: 7%;
    box-shadow: 0px 5px 16px rgba(96, 96, 96, 0.25);
}

.skills-title{
    color: #4A4E69;
    background: -webkit-linear-gradient(#4A4E69, #876883);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-search, .fa-pencil-ruler, .fa-code{
    font-size: 50px;
    background: -webkit-linear-gradient(#4A4E69, #876883);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skills-text{
    font-style: normal;
    font-size: 18px;
    margin: 0 12%;
    color: #4A4E69;
    line-height: 148%;
}



